.header-main-block {
  background-color: #212529;
}

.login-inner-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.text-center {
  font-family: 'Poppins', sans-serif;

}

.button {
  font-family: 'Poppins', sans-serif;
}

.checkbox {
  font-family: 'Poppins', sans-serif;
}

.forgot-password {
  font-family: 'Poppins', sans-serif;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  font-family: 'Poppins', sans-serif;
}

.error {
  color: red
}

.collection-main-block {
  margin-bottom: 60px;
}

.collection-main-title h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  font-family: 'Poppins', sans-serif;
  color: #222222;
}

.collection-main-title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
  color: #595959
}

.collection-inner-main-box {
  border-radius: 12px;
  overflow: hidden;
  background: #FFFFFF;
  transform: translateZ(0px);
  border: 1px solid #DEDEE3;
}

.collection-title-block {
  display: flex;
  justify-content: space-between;
}

.collection-title-inner-block {
  display: flex !important;
  align-items: center;
  padding: 10px
}

.collection-title-right-block {
  display: flex !important;
  align-items: center;
  padding: 10px
}

.collection-title-inner-block p {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;

}

.collection-title-right-block p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}

.collection-image-block {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.collection-image-block-first-row img {
  width: 100%;
}

.collection-image-block-first-Rightrow {
  margin-right: 5px;
}

.collection-image-block-first-Rightrow img {
  width: 100%;
}

.collection-image-block-first-Rightrow img :hover {
  background-color: #595959;
}

/* for-your-home-main-section */
.for-your-home-main-block {
  margin-bottom: 60px;
}

.for-your-home-inner-title-block p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;

}

.for-your-home-inner-title-block h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  font-family: 'Poppins', sans-serif;
}

.unique-finds {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Poppins', sans-serif;
  margin-top: 3px;}

.content {
  display: contents;
}
.subHeaderTitleBlock{
  text-align:center;
  background-color: #D7E6F5 !important;
  padding: 18px;
  box-sizing: inherit;
 
}
.subHeaderText {
  font-size:32px;
  line-height: 36px;
  text-align:center;
  align-self: center;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.subHeader-categories {
  display: flex;
    list-style: none;
    padding-right: 30px;
    position: absolute;
    top: -55px;
    flex-wrap: wrap;
    justify-content: center;

}
.subHeadeCategoriesBlock {
  box-sizing: inherit;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}

.subHeaderSubCategoriesBlock{
  height: 50px;
  background-color: #D7E6F5 !important;
}

.categoriesImgBlock{
  width: 114px;
  border-radius: 100%;
  overflow: hidden;
}

.catgoriesTitle {
    font-size:16px;
    line-height: 20px;
    align-self: center;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 700;
    margin-top: 14px;
  
}

.cat-section-block{
  padding-left: 30px;
  padding-right: 30px;
  /* width: 12.5%; */
  text-align: -webkit-center;
}

.header-icon-block{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right:10px;
  padding-left: 10px;
  /* align-items: flex-end; */

}

.btn-search{
  background-color:white;
}

.search-bar{
  border-radius: 50px;
  overflow: hidden;
}


/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #212529;
}

.footer-item ul{
  padding-left: 0;
}

.newslatter-item {
  padding: 30px 0;
}

.footer-item h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 22px;
}

.footer-item {
  margin: 18px 0;
}
.footer-social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer-social a {
  width: 20%;
}

.footer-item ul li,
.footer-item ul li a{
	list-style: none;
	color: #b2b2b2;
	font-size: 16px;
	line-height: 30px;
  text-decoration: none;
}
.footer-item ul li a:hover {
  text-decoration: underline;
}
.newslatter-item h5 {
	color: #000000;
	font-weight: 600;
	margin-bottom: 16px;
  text-align: center;
}

.newslatter-item .subscribe-form {
	position: relative;
}

.newslatter-item .subscribe-form input {
	color: #b2b2b2;
	background: #FFFFFF;
	width: 100%;
	height: 46px;
	font-size: 16px;
	border: none;
	padding-left: 20px;
  border-radius: 25px;
}

.newslatter-item .subscribe-form input::-webkit-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-moz-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input:-ms-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-ms-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form button {
	display: inline-block;
	color: #000000;
	background: #ffffff;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	position: absolute;
  border-radius: 25px;
	right: 0;
	top: 0;
	padding: 13px 20px 12px;
	cursor: pointer;
}
.copyright-reserved {
  border-top: 2px solid #303030;
  padding: 15px 0;
}
.newsletter-main-block{
  background: #D7E6F5;
  margin: 0;
}
.copyright-text {
  color: #d8dbdee0;
  font-weight: 600;
}
.copyright-text a {
  color: #d8dbdee0;
  font-weight: 600;
  text-decoration: none;
}

